* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1380px;
  margin: 0 auto;
  text-align: center;
}

#link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#link, .option-container select, button {
  outline: none;
  text-decoration: none;
  border: 1px solid rgb(45, 42, 47);
  background-color: rgb(43, 42, 51);
  padding: 0.5rem .6rem;
  border-radius: 10px;
}

#link:focus, .option-container select:focus, button:active {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border: 1px solid #007BFF;
}

#button-submit {
  width: fit-content;
}

#canva-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#options-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.options-container {
  display: flex;
  align-items: center;
  width: 100%;
}



/* Estilo general para el select */
#select-color {
  appearance: none;
  /* Elimina el estilo predeterminado */
  background-color: #202020;
  /* Fondo claro */
  border: 2px solid #adadad;
  /* Borde gris */
  border-radius: 25px;
  /* Bordes redondeados */
  padding: 5px 7px;
  /* Espaciado interno */
  font-size: 16px;
  /* Tamaño de fuente */
  font-family: 'Arial', sans-serif;
  /* Fuente */
  color: #333;
  /* Color del texto */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  outline: none;
  /* Elimina el contorno de enfoque */
  transition: all 0.3s ease;
  /* Transición suave */
}

/* Estilo cuando el #select-color está en foco (cuando el usuario hace clic) */
#select-color:focus {
  border-color: #007BFF;
  /* Borde azul al enfocar */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Sombra sutil */
}

/* Flecha personalizada */
#select-color::-ms-expand {
  display: none;
  /* Ocultar la flecha predeterminada en IE */
}

#select-color::after {
  content: "▼";
  /* Añade una flecha hacia abajo */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}


.option-container {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {

  /* Estilos para pantallas pequeñas */
  #options-form {
    width: 100vw;
    padding: 2vw 2vw 0 2vw;
  }
}