* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1380px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

#link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#link, .option-container select, button {
  outline: none;
  text-decoration: none;
  border: 1px solid rgb(45, 42, 47);
  background-color: rgb(43, 42, 51);
  padding: 0.5rem .6rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

canvas {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

#canva-button-download {
  display: none;
}

label {
  font-size: 1.2rem;
}

button,
select,
input {
  cursor: pointer;
  font-size: .9rem;
}

#link:focus, .option-container select:focus, button:active {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border: 1px solid #007BFF;
}

#button-submit {
  width: fit-content;
}

.option-container, #link-container {
  gap: 6px;
}

#canva-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#options-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.options-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.option-container {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #options-form {
    width: 100vw;
    padding: 2vw 2vw 0 2vw;
  }
}